<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="GSTinvoiceContext" connectionString="Data Source=DESKTOP-61O8VUA\SQLEXPRESS;Initial Catalog=GSTinvoice;Integrated Security=True;MultipleActiveResultSets=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>